@model IQueryable<Employee>



<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-10">
        <h2>Список сотрудников</h2>
        <ol class="breadcrumb">           
            <li>
                 <a href="~/Offices">Главная</a>
            </li>
            <li class="active">
                <strong>Список сотрудников</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<hr />

@foreach (Employee user in Model)
{
    <div class="col-sm-6">
                <div class="contact-box center-version">

                    <!-- <a> -->
                    <a asp-action="Details" asp-route-id="@user.Id">

                        <img alt="image" class="img-circle" src="~/img/User.jpg">


                        <h3 class="m-b-xs"><strong>@user.Name @user.Surname</strong></h3>

                        <div class="font-bold"></div>
                        <address class="m-t-md">
                            <strong>IAS</strong><br>
                            @user.Email<br>
                            Бишкек<br>
                            <abbr title="Phone">Phone:</abbr> @user.PhoneNumber
                        </address>

                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white" asp-action="Lock" asp-route-id="@user.Id" style="margin: 5px; background-color: #f8ac59; color: white;"><i class="fa fa-times-circle"></i> Заблокировать пользователя </a>
                            <a class="btn btn-xs btn-white"asp-action="ChangeRole" asp-route-id="@user.Id" style="margin: 5px; background-color: #1c84c6; color: white;"><i class="fa fa-edit"></i> Изменить роль </a>
                            <a class="btn btn-xs btn-white" asp-action="Delete" asp-route-id="@user.Id" style="margin: 5px; background-color: #ed5565; color: white;"><i class="fa fa-trash-o"></i> Удалить </a>
                        </div>
                    </div>

                </div>
            </div>
}