@model IEnumerable<inventory_accounting_system.Models.Supplier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Поставщики</h2>

<p>
    <a class="btn" style="background-color: #2c4267; color: white" asp-action="Create">Создать</a>
</p>
<table class="table tablemy">
    <thead class="caption">
        <tr class="trmy">
            <th class="thmy">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="thmy">
                @Html.DisplayNameFor(model => model.Description)
            </th class="thmy">
            <th class="thmy"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="tdmy">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="tdmy">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-sm-3 tdmy">
                    <a class="btn" style="background-color: #2c4267; color: white" asp-route-id="@item.Id">Edit</a>
                    <a class="btn" style="background-color: #2c4267; color: white" asp-route-id="@item.Id">Details</a>
                    <a class="btn" style="background-color: #c55058; color: white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
