@using Microsoft.AspNetCore.Identity
@using inventory_accounting_system.Models

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Accounting System</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- <link rel="stylesheet" href="~/css/site.css"/>         -->
        <link rel="stylesheet" href="~/css/mystyle.css"/>        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display: none; background-color: #21324f; z-index: 5" id="mySidebar">
    <!-- <div class="w3-sidebar w3-bar-block w3-animate-left" style="display: none; z-index: 5" id="mySidebar"> -->
        <button class="w3-bar-item w3-button w3-large" style="color: white" onclick="w3_close()">Close &times;</button>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Home" asp-action="Index"> <p class="glyphicon glyphicon-home"></p> Домой</a>
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Categories" asp-action="Index"><p class="glyphicon glyphicon-th-large"></p> Категории</a>
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Suppliers" asp-action="Index"><p class="glyphicon glyphicon-globe"></p> Поставщик</a>
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Events" asp-action="Index"><p class="glyphicon glyphicon-th-list"></p> События</a>
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Assets" asp-action="Index"><p class=" glyphicon glyphicon-eye-open"></p> Имущество</a>
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Offices" asp-action="Index"><p class="glyphicon glyphicon-credit-card"></p> Офис</a>
            <!-- <a class="w3-bar-item w3-button glyphicon glyphicon-user" asp-area="" asp-controller="Account" asp-action="Register">Добавить сотрудника</a> -->
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Employes" asp-action="Users"><p class="glyphicon glyphicon-user"></p> Сотрудники</a>
        }
        else
        {
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Home" asp-action="Index"><p class="glyphicon glyphicon-home"></p> Домой</a>
            <a class="w3-bar-item w3-button" style="color: white" asp-area="" asp-controller="Offices" asp-action="Index"><p class="glyphicon glyphicon-credit-card"></p> Офис</a>
        }
        @await Html.PartialAsync("_LoginPartial")
    </div>

        <!-- Page Content -->
        <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor: pointer" id="myOverlay"></div>

        <div>
            <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>

            <div class="container">
                @RenderBody()
                <hr />
            </div>

            <div class="container">
                <hr />
                <footer>
                    <p>&copy; 2019 - Inventory Accounting System</p>
                </footer>
            </div>
        </div>


    }
    else
    {
        <div class="container">
            @RenderBody()
            <hr />
        </div>
    }

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>


<script>
    $.ajax({
        type: 'PUT',
        url: '@Url.Action("UpdateExpiredEvents", "Events")'
    });

    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>