@model inventory_accounting_system.Models.OrderEmployee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Заголовок
        </dt>
        <dd>
            Заголовок
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeFrom.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.InventNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.InventNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
