@model inventory_accounting_system.ViewModel.DetailsAssetViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Name)
        </dd>
        @if (Model.Asset.SerialNum != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Asset.SerialNum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Asset.SerialNum)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Asset.InventNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.InventNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Date)
        </dd>
        <dt>
            Штрих-код
        </dt>
        <dd>
            <div id="printMe">
                <img style="margin:5px;" src="@String.Format("data:image/png;base64,{0}", @Model.Barcode)" />
            </div>
            <button onclick="printDiv('printMe');">Печать</button>
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.ImagePath)
        </dt>
        <dd>
            <img src="../@Model.Asset.ImagePath" width="100" height="100" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Supplier.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Price)
        </dd>

    </dl>
</div>
<h4>Документы</h4>

<ul class="list-group">
    @foreach (Document Doc in Model.Documents)
    {
        <li class="list-group-item">
            <a style="color: darkgrey;" asp-controller="Assets" asp-action="GetFile" asp-route-documentId="@Doc.Id" class="not-filled recent">@Doc.Name</a>
        </li>
    }
</ul>

<div class="row">
    <div class="col-md-6">
        <form action="/Assets/UploadDocument" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="uploadedFile" class="form-control" />
                <input type="hidden" name="AssetId" value="@Model.Asset.Id" />
            </div>

            <div class="form-group">
                <input type="submit" value="Загрузка" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<h4>История перемещения</h4>
<table class="table-bordered table " style="width: 90%; border-radius: 5px;  padding: 10px;box-shadow: 0px 3px 18px -1px rgba(0,0,0,0.75); left: 20%; ">
    <thead>

        <tr>
            <th>
                От Сотрудника
            </th>
            <th>
                От Офиса/Склада
            </th>
            <th>
                К Сотруднику
            </th>
            <th>
                К Офису/Складу
            </th>
            <th>
                Дата
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    @foreach (AssetsMoveStory Story in Model.AssetsMoveStories)
    {
        <tr>
            <td>
                @Story.EmployeeFrom.Login
            </td>
            <td>
                @Story.OfficeFrom.Title
            </td>
            <td>
                @Story.EmployeeTo.Login
            </td>
            <td>
                @Story.OfficeTo.Title
            </td>
            <td>@Story.DateStart</td>
            <td>@Story.StatusMovinHistory</td>
        </tr>
    }
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Asset.Id">Изменить</a> |
    <a asp-controller="Assets" asp-action="EditAssetEvents" asp-route-assetId="@Model.Asset.Id">События</a> |
    <a asp-action="Index">Назад</a>
</div>
@section scripts{
    <script>
        function printDiv(eleId) {
            var PW = window.open('', '_blank', 'Print content');

            //IF YOU HAVE DIV STYLE IN CSS, REMOVE BELOW COMMENT AND ADD CSS ADDRESS
            //PW.document.write('<link rel="stylesheet" type="text/css" href="CSS-FILE-ADDRESS"/>');

            PW.document.write(document.getElementById(eleId).innerHTML);
            PW.document.close();
            PW.focus();
            PW.print();
            PW.close();
        }
    </script>
}
