@model inventory_accounting_system.ViewModel.DetailsAssetViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Name)
        </dd>
        @if (Model.Asset.SerialNum != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Asset.SerialNum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Asset.SerialNum)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Asset.InventNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.InventNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.ImagePath)
        </dt>
        <dd>
            <img src="../@Model.Asset.ImagePath" width="100" height="100" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Supplier.Name)
        </dd>
        @if (Model.Asset.DocumentPath != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Asset.Document)
            </dt>
            <dd>
                <a style="color: dodgerblue;" asp-controller="Assets" asp-action="Download" asp-route-id="@Model.Asset.Id" class="not-filled recent">@Model.Asset.Name</a>
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.Asset.Document)
            </dt>
            <dd>
                <a style="color: darkgrey;" asp-controller="Assets" asp-action="Download" asp-route-id="@Model.Asset.Id" class="not-filled recent">@Model.Asset.Name</a>
            </dd>
        }

    </dl>
</div>

<h4>История перемещения</h4>
<table class="table-bordered table " style="width: 90%; border-radius: 5px;  padding: 10px;box-shadow: 0px 3px 18px -1px rgba(0,0,0,0.75); left: 20%; ">
    <thead>

        <tr>
            <th>
                От Сотрудника
            </th>
            <th>
                От Офиса/Склада
            </th>
            <th>
                К Сотруднику
            </th>
            <th>
                К Офису/Складу
            </th>
            <th>
                Дата
            </th>
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    @foreach (AssetsMoveStory Story in Model.AssetsMoveStories)
    {
        <tr>
            <td>
                @Story.EmployeeFrom.Login
            </td>
            <td>
                @Story.OfficeFrom.Title
            </td>
            <td>
                @Story.EmployeeTo.Login
            </td>
            <td>
                @Story.OfficeTo.Title
            </td>
            <td>@Story.DateStart</td>
            <td>@Story.StatusMovinHistory</td>
        </tr>
    }
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Asset.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
