@model IEnumerable<EventAsset>
@{
    ViewData["Title"] = "EditAssetEvents";
    string assetId = (string)ViewData["AssetId"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Редактирование события</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Assets/Details?id=@assetId">Информация о имуществе</a>
            </li>           
            <li class="active">
                <strong>Редактирование события</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead class="gradeX">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Event Title</th>
        <th scope="col">Event content</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <th>@item.Title</th>
                <td>@item.Content</td>
                <td>@item.Period</td>
                <td><a asp-controller="AssetEvent" asp-action="DeleteEvent" asp-route-id="@item.Id" class="btn btn-w-m btn-danger">Удалить событие</a></td>
            </tr>
        }
    }
    </tbody>
</table>
<a asp-controller="AssetEvent" asp-action="AddEvent" asp-route-assetId="@assetId" class="btn btn-w-m btn-primary">Добавить событие</a>

