@model IEnumerable<inventory_accounting_system.Models.Asset>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dateAction = @ViewBag.dateAction;
    string dateActionSale = @ViewBag.dateActionSale;
}

<h2>Имущество</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <P>
                    <a class="btn" style="background-color: #2c4267; color: white" asp-action="Create">Создать</a>
                </P>
                @using (Html.BeginForm("Index", "Assets", FormMethod.Post))
                {
                    <div>
                        <p>
                            Search by Name: @Html.TextBox("searchString")
                            <input id="Submit1" type="submit" class="btn" style="background-color: #2c4267; color: white" value="Filter">
                        </p>
                    </div>
                }
                <table class="table tablemy table-hover table-bordered">
                    <thead class="caption">
                        <tr>
                            <th class="text-left">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.IsActiveSort">
                                    <strong>Выбрать</strong>
                                </a>
                            </th>
                            <th class="text-center">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.NameSort">
                                    @Html.DisplayNameFor(model => model.Name)
                                </a>
                            </th>
                            <th class="text-center">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.NameSort">
                                    @Html.DisplayNameFor(model => model.InventNumber)
                                </a>
                            </th>
                            <th class="text-center">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.DateSort">
                                    @Html.DisplayNameFor(model => model.Date)
                                </a>
                            </th>
                            <th class="text-center">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.ImageSort">
                                    @Html.DisplayNameFor(model => model.ImagePath)
                                </a>
                            </th>

                            <th class="text-center">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.CategorySort">
                                    @Html.DisplayNameFor(model => model.Category)
                                </a>
                            </th>
                            <th class="text-center">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.PriceSort">
                                    @Html.DisplayNameFor(model => model.Price)
                                </a>
                            </th>
                            <th class="text-center">
                                <a asp-action="Index" style="text-decoration: none;" asp-route-sorting="@ViewBag.SupplierSort">
                                    @Html.DisplayNameFor(model => model.Supplier)
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="tdmy">
                                    <input type="checkbox" id="assetIdCheckBox" value="@item.Id" onchange="OnChangeCheckBoxFunc(this)" />
                                </td>
                                <td class="text-center col-sm-4 tdmy" onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-center col-sm-4 tdmy" onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @Html.DisplayFor(modelItem => item.InventNumber)
                                </td>
                                <td class="text-center col-sm-4 tdmy" onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td class="text-center tdmy" onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    <img src="@item.ImagePath" width="50" height="50" />
                                </td>

                                <td class="text-center col-sm-4 tdmy" onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td class="text-center col-sm-4 tdmy" onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td class="text-center col-sm-4 tdmy" style="background-color: #eef2f7" onclick="window.location.href='/Assets/Details?id=@item.Id'; return false;">
                                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                                </td>
                                @*<td class="col-sm-3">
                                        <div>
                                            <a  asp-action="Move" asp-route-id="@item.Id" class="btn" style="background-color: #2c4267; color: white">Move</a>
                                            <a  asp-action="Edit" asp-route-id="@item.Id" class="btn" style="background-color: #2c4267; color: white">Edit</a>
                                            <a  asp-action="Details" asp-route-id="@item.Id" class="btn" style="background-color: #2c4267; color: white">Details</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn" style="background-color: #2c4267; color: white">Delete</a>
                                        </div>
                                    </td>*@
                            </tr>

                        }
                    </tbody>
                </table>

                <div class="col">
                    <a class="btn" style="background-color: #2c4267; color: white" onclick="modalShowHendler()">Закрепить</a>
                    <a class="btn" style="background-color: #2c4267; color: white" onclick="modalShowHendlerSale()">Продажа</a>
                    <!-- <a class="btn btn-primary" onclick="showModalReportOnStockComponents()" style="margin-left: 700px;">Получить отчёт</a> -->
                    <a class="btn" asp-action="ReportOnStockChoice" style="margin-left: 799px; background-color: #c00e48; color: white">Получить отчёт</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal window Закрепить*@

<div class="modal fade" id="newAssetModal">
    <div class="modal-dialog modal-lg" style=" width: 300px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Закрепить</h4>

                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div class="form-group" id="officeSelect">
                                <label class="control-label">Офис/Склад</label>
                                <select class="form-control" id="officeIdSelect" onchange="OnChangeOfficeId(this)" style=" width: 270px !important;" asp-items="ViewBag.OfficeId"></select>
                            </div>
                            <div class="form-group" id="employeeSelect">
                                <label class="control-label">Сотрудник</label>
                                <select class="form-control" id="employeeIdSelect" onchange="OnChangeEmployeeId(this)" style=" width: 270px !important;" asp-items="ViewBag.EmployeeId"></select>
                            </div>
                            <div class="form-group" id="dateActionMove">
                                <label class="control-label">Дата</label>
                                <input id="dateAction" type="date" class="form-control" style=" width: 270px !important;" value="@dateAction" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <form id="NewAssetForm">

                <div class="modal-footer">
                    <div>
                        <button id="CreateMethod" type="submit" onclick="getCheckedCheckBoxesMove()" class="btn btn-primary">Ok</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>


@*Modal window Продажа*@

<div class="modal fade" id="newAssetModalSale">
    <div class="modal-dialog modal-lg" style=" width: 400px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Продажа</h4>

                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group hidden" id="officeSelectSale">
                                <label class="control-label">Офис/Склад</label>
                                <select class="form-control" id="officeIdSelectSale" onchange="OnChangeOfficeIdSale(this)" style=" width: 290px !important;" asp-items="ViewBag.OfficeIdSale"></select>
                            </div>
                            <p>@ViewBag.OfficeIdSaleOne</p>
                            <div class="form-group" id="employeeSelectSale">
                                <label class="control-label">Сотрудник</label>
                                <select class="form-control" id="employeeIdSelectSale" onchange="OnChangeEmployeeIdSale(this)" style=" width: 290px !important;" asp-items="ViewBag.EmployeeIdSale"></select>
                            </div>
                            <div class="form-group hidden" id="statusMovingAssets">
                                <label class="control-label">Статус передачи</label>
                                <select class="form-control" id="statusMovingAssetsSelect" onchange="OnChangeStatusAssetMoving(this)" style=" width: 290px !important;" asp-items="ViewBag.StatusMovingAssets"></select>
                            </div>
                            <p><strong>Статус: </strong>@ViewBag.StatusMovingAssetsOne</p>
                            <div class="form-group" id="dateActionSaleNowDiv">
                                <label class="control-label">Дата:</label>
                                <!-- <p id="dateActionSaleNow" type="date" class="form-control" style=" width: 290px !important;" asp-items="ViewBag.dateActionSale"/> -->
                                <!-- <p id="dateActionSaleNow" type="date" class="form-control" style=" width: 290px !important;" value="@dateActionSale"/> -->
                                <p>@dateActionSale</p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <form id="NewAssetFormSale">

                <div class="modal-footer">
                    <div>
                        <button id="CreateMethodSale" type="submit" onclick="getCheckedCheckBoxesSale()" class="btn btn-primary">Sale</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    @*Modal Window Report*@

    <div class="modal fade" id="newModalOfficeComponent">
        <div class="modal-dialog modal-lg" style=" width: 16% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="color: darkgray">Укажите периуд</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post">
                                <div class="form-group" id="dateActionFrom">
                                    <label class="control-label">от :</label>
                                    <input id="dateActionFromAsset" type="date" class="form-control" name="dateActionFrom" style=" width: 270px !important;" />
                                </div>

                                <div class="form-group" id="dateActionTo">
                                    <label class="control-label">до: </label>
                                    <input id="dateActionToAsset" type="date" class="form-control" name="dateActionTo" style=" width: 270px !important;" />
                                </div>
                            </form>
                            <a onclick="ReportOnStockDateFromTo()" class="btn btn-primary">Ок</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

@section scripts{
    <script>

        function showModalReportOnStockComponents() {
        $("#newModalOfficeComponent").modal();
        }

        function ReportOnStockDateFromTo() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ReportOnStockResult", "Assets")',
                data: {
                    dateActionFrom: $("#dateActionFromAsset").val(),
                    dateActionTo: $("#dateActionToAsset").val()
                },
                success: function (date) {
                    window.location.reload();
                    //location.href = '@Url.Action("ReportOnStockResult", "Assets")'
                }
            });
        }

        var officeId;
        var employeeId;
        var dateAction;

        function modalShowHendler() {
            $("#newAssetModal").modal();
            officeId = document.getElementById('officeIdSelect').children[0].value;
            employeeId = document.getElementById('employeeIdSelect').children[0].value;
            dateAction = document.getElementById('dateAction').value;
        }


        var officeIdSale;
        var employeeIdSale;
        var dateActionSaleNew;
        var statusAssetsMving;


        function modalShowHendlerSale() {
            $("#newAssetModalSale").modal();
            officeIdSale = document.getElementById('officeIdSelectSale').children[0].value;
            employeeIdSale = document.getElementById('employeeIdSelectSale').children[0].value;
            statusAssetsMving = document.getElementById('statusMovingAssetsSelect').children[0].value;
        }

        checkedCheckBox = [];
        checkedCheckBoxSale = [];

        function OnChangeCheckBoxFunc(e) {
            var assetId = e.value;
            if (checkedCheckBox.indexOf(assetId) > -1) {
                var elementIndex = checkedCheckBox.indexOf(assetId);
                checkedCheckBox.splice(elementIndex, 1);
                checkedCheckBoxSale.splice(elementIndex, 1);
            } else {
                checkedCheckBox.push(assetId);
                checkedCheckBoxSale.push(assetId);
            }
        }




        function OnChangeOfficeId(e) {
            officeId = e.value;
        }

        function OnChangeEmployeeId(e) {
            employeeId = e.value;
        }

        function OnChangeOfficeIdSale(e) {
            officeIdSale = e.value;
        }

        function OnChangeEmployeeIdSale(e) {
            employeeIdSale = e.value;
        }

        function OnChangeStatusAssetMoving(e) {
            statusAssetsMving = e.value;
        }



        function getCheckedCheckBoxesMove() {
            officeId = document.querySelector('#officeIdSelect').value;
            employeeId = document.querySelector('#employeeIdSelect').value;
            dateAction = document.querySelector('#dateAction').value;

            debugger;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AssetsMove", "Assets")',
                data: {
                    officeId: officeId,
                    assetId: checkedCheckBox,
                    dateActionSaleNew: dateActionSaleNew,
                    employeeId: employeeId,
                    dateAction: dateAction,
                    inIndex: 1
                },
                success: function (data) {
                    console.log('success!');
                }
            });
        }

        function getCheckedCheckBoxesSale() {

            employeeIdSale = document.getElementById('employeeIdSelectSale').children[0].value;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaleAsste", "Assets")',
                data: {
                    officeIdSale: officeIdSale,
                    assetIdSale: checkedCheckBoxSale,
                    employeeIdSale: employeeIdSale,
                    statusAssetsMving: statusAssetsMving,
                    inIndex: 1
                },
                success: function (data) {
                    console.log('success!');
                }
            });
        }

    </script>
}
