@model IEnumerable<inventory_accounting_system.Models.Asset>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Имущество</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th class="text-left">
           <strong>Выбрать</strong>
        </th>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.InventNumber)
        </th>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th class="text-left">
            @Html.DisplayNameFor(model => model.Category)
        </th>

        <th class="text-left">
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" />
            </td>
            <td class="text-left col-sm-4">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-left col-sm-4">
                @Html.DisplayFor(modelItem => item.InventNumber)
            </td>
            <td class="text-left col-sm-4">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="text-left">
                <img src="@item.ImagePath" width="100" height="100" />
            </td>
            <td class="text-left col-sm-1">
                <a asp-controller="Assets" asp-action="Download" asp-route-id="@item.Id" class="not-filled recent">@item.Name</a>
            </td>

            <td class="text-left col-sm-4">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>

            <td class="text-left col-sm-4">
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            @*<td class="col-sm-3">
            <div>
                <a class="btn btn-default" asp-action="Move" asp-route-id="@item.Id">Move</a>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </td>*@
        </tr>

    }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" onclick="addAssetFasten()">Закрепить</a>
</div>


@*Modal window*@

<div class="modal fade" id="newAssetModal">
    <div class="modal-dialog modal-lg" style=" width: 300px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Закрепить</h4>
                
                <div class="row">
                    <div class="col-md-4">
                        <form >
                            <div class="form-group" id="officeSelect">
                                <label class="control-label">Офисы</label>
                                <select class="form-control"  style=" width: 270px !important;" asp-items="ViewBag.OfficeId"></select>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <form id="NewAssetForm">
                
                <div class="modal-footer">
                    <div>
                        <button id="CreateMethod" type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>

                
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function addAssetFasten() {
            $("#newAssetModal").modal();
        }
    </script>
}