@using inventory_accounting_system.ViewModel
@model OfficeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Офисы</h2>

<p>
    <a class="btn btn-primary" href="/Account/Register">Добавить сотрудника</a>
</p>

<form>
    <div class="form-group" id="catSelect">
        <select onchange="onChangeFunc()" name="officeId" class="target form-control" id="onChangeText" asp-items="ViewBag.Offices"></select>
    </div>
    <button id="officeButton" class="hidden" style="margin-bottom: 20px">Get</button>
</form>
<p>
    <a class="btn btn-primary" asp-action="Create">Создать офис</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th id="officeName" scope="col">
                @{
                    if (Model != null)
                    {
                        @Model.Office.Title }
                }
            </th>
            <th scope="col"><a>Вася Пупкин</a></th>
        </tr>
    </thead>
</table>
<div class="row">
    <div class="col-md-8">
        @{
            if (Model != null)
            {
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Категория</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Выбрать</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CategoryAssetCountViewModels)
                        {
                            <tr>
                                <th scope="row"><a asp-controller="Offices" asp-action="CategoryAssets" asp-route-id="@item.Id">@item.CategoryName</a></th>
                                <td>@item.AssetsCount</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
    <div class="col-md-4">
        <h4>Сотрудники</h4>
        <ul>
            @if (Model != null)
                {
                    @foreach (var item in Model.Employees)
                    {
                        <li><a asp-controller="Employes" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
                    }                    
                }
            </ul>

    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    var selectText = document.getElementById("onChangeText");
    var selectedText = selectText.options[selectText.selectedIndex].text;

    document.getElementById("officeName").innerHTML = selectedText;
</script>
<script>
    function onChangeFunc() {

        var val = document.getElementById('onChangeText').value;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Index", "Offices")',
            data: { officeId: val },
            dataType: 'json',
            success: console.log('ok')
        });
        var button = document.getElementById('officeButton').click();
    }
</script>