@model IEnumerable<Asset>

@{
    ViewData["Title"] = "Index";
    List<Office> offices = (List<Office>)ViewData["OfficeList"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Офисы</h2>

<p>
    <a class="btn btn-primary" href="/Account/Register">Добавить сотрудника</a>
</p>

<form>
    <div class="form-group" id="catSelect">
        <select selected="@offices[1].Title" onchange="onChangeFunc()" name="officeId" class="target form-control" id="onChangeText" asp-items="ViewBag.Offices"></select>
    </div>
    <button id="officeButton" class="hidden" style="margin-bottom: 20px">Get</button>
</form>
<p>
    <a class="btn btn-primary" asp-action="Create">Создать офис</a>
</p>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th id="officeName" scope="col">Office name</th>
        <th scope="col"><a>Вася Пупкин</a></th>
    </tr>
    </thead>
</table>
@{
    if (Model != null)
    {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Employee name</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Name</th>
                        <td>@item.Category.Name</td>
                        <td><a asp-controller="Employes" asp-action="UserAssets" asp-route-id="@item.Employee.Id">@item.Employee.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    function onChangeFunc() {
        var selectText = document.getElementById("onChangeText");
        var selectedText = selectText.options[selectText.selectedIndex].text;

        document.getElementById("officeName").innerHTML = selectedText;
        var val = document.getElementById('onChangeText').value;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Index", "Offices")',
            data: { officeId: val },
            dataType: 'json',
            success: console.log('ok')
        });
        var button = document.getElementById('officeButton').click();
    }
</script>